.navbar {
    border-bottom: solid 2px #FFF;
}

.contentColumn {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 350px);
}

.column{
    width: 33%;
    height: calc(100vh - 110px);
}

.column:nth-child(2) {
    border-left: solid 2px #FFF;
    border-right: solid 2px #FFF;
}

a {
    text-decoration: none;
}

.navbar-right{
    margin-right: 150px;
    height: 250px;
    position:fixed;
    right: 0px;
}

.navbar-right a{
    font-size: 20px;
}

.case {
    width: 75%;
    margin: 10px;
    color: #FFF;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}