@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Franklin:wght@300&family=Rosario:wght@300&display=swap');

body {
    height: 3000px;
}

table {
    margin-top: 50px;
    width: 100%;
}

tr {
    margin: 5px;
    border-left: 2px solid white;
}

th {
    color: white;
    margin: 20px;
    border-left: 2px solid white;
    height: 40px;
}

a {
    text-decoration: none;
}

#orange {
    color: #FB8F3E;
}

#articlemarg {
    margin-top: 70px;
}

h2 {
    color: white;
    font-size: 23px;
    font-weight: 800;
    border-left: 2px solid white;
    letter-spacing: 2px;
}

.description{
    width: 55%;
    margin-top: 40px;
    margin-left: 120px ;

}

.description p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 18px 0px;
    text-align: justify;

}

.navbar-right{
    margin-right: 150px;
    height: 250px;
    position:fixed;
    right: 0px;
}

.navbar-right a{
    font-size: 20px;
}

@media screen and (max-width: 860px){

    .navbar-right{
        display: none;
    }

    .description{
        width: 70%;
        margin-top: 40px;
        margin-left: 40px ;
    }
}

@media screen and (max-width: 502px){

    .navbar-right{
        display: none;
    }

    .navbar {
        width: 100%;
        height: 110px;
    }
    

    .navbar-icon{
        display: none;
    }

    .navbar-link li img {
        width: 25px;
    }
    
    .main-content {
        display: block;
    }

    .navbar-link{
        width: 100%;
        height: 100%;
        margin-right: 0px;
    }

    .navbar-link li {
        list-style: none;
        margin: 35px 15px 0px 10px;
        text-align: center;
        float: left;  
    
    }

    .description{
        width: 90%;
        margin-top: 40px;
        margin-left: 20px ;
    
    }

    .navbar-right{
        float: left;
        padding: 10px 0px;
        margin-top: 40px;
        border-right: 0px solid #FFFF;
        border-left: 2px solid #FFFF;
        margin-left: 50px;
        margin-right: 0px;
        height: 250px;


    }

    .description p {
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        margin: 10px 0px;
        text-align: justify;
    
    }

    .navbar-right a{
        font-size: 23px;
    }

    .navbar-link li a{
        font-size: 18px;
    }


}